body{
    font-family: Verdana, Tahoma, sans-serif;
}

h1{
    text-indent: 50px;
    font-size: 40px;
}

h1::first-letter{
    font-size: 47px;
}

h1.common_Pets{
    font-style: italic;
    color: blue;
    text-shadow: -2px -2px 4px yellow;
}

h3{
    text-indent: 50px;
    font-size: 20px;
}

h3::first-letter{
    font-size: 27px;
}

a:link{
    color: orange;
}
a:visited{
    color: orange;
}
a:hover{
    color: green;
}

ul li{
    margin: 7px 0;
}

footer{
    font-size: 10px;
    text-align: center;
}

img{
    float: left;
}